* {
    box-sizing: border-box;
}

.navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    line-height:  1.5;
    color: #000000;
    overflow-x: hidden;
}

.v-header {
    height: 50vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.navigation{
    position:fixed;
    top:0;
    width:100%;
    z-index:1;
  }

  .navbar-right {
      position: absolute;
      right: 0;
      padding-right: 5px;
  }

  .nav-link {
      color: #bef0bb;
  }

  .video-container {
    top: 0;  
    width: 100%;
    background-color: black;
  }
  
  .video-bg{
    width:100%;
    opacity: 0.35;
  }

  .header-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
  }

  .btn {
    width: 20%;
  }

  .btn:hover {
    background-color: #bef0bb;
    color: black;
  }

  .about {
      position: relative;
      padding-top: 20px;
      background-color: #bef0bb;
  }

  .map {
    margin: 0;
  }

  #form-cadastro {
    margin-bottom: 20px;
  }

  .img-lixo-footer {
    width: 100%;
    height: 30vh;
  }

  .page-footer {
    background-color: black;
    color: white;
  }

  .page-footer a {
    color: #bef0bb;
  }

  